/**
	Incluir aquí las reglas css propias de este proyecto 
*/
.ci-tabs-v-solapa a, .ci-tabs-v-solapa-sel{
	font-weight: normal;
	font-size: 18px !important;
	font-family: Tahoma;	
	color: #000000;
	padding-left:3px;
}
a.nivel-0, a.nivel-0:visited {
	background-color: transparent !important;
	border:none !important;
}
ul.horizontal a, ul.horizontal a:visited {
	display: block !important;
	padding:5px 7px;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 1.3em;
	color:black;
	text-decoration:none;
	white-space: nowrap;
	line-height: 32px;
}